{% assign person_image = '/assets/img/IMG_1249.jpeg' | absolute_url %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ site.author | jsonify }},
  "url": {{ site.url | jsonify }},
  "image": {{ person_image | jsonify }},
  "jobTitle": "Senior Systems Engineer",
  "worksFor": {
    "@type": "Organization",
    "name": "Veeam Software"
  },
  "description": {{ site.description | strip_newlines | jsonify }},
  "sameAs": [
    "https://www.linkedin.com/in/tedemehrtens/",
    "https://github.com/{{ site.github_username }}"
  ]
}
</script>
