<div class="section">
    <h3>Neueste Beiträge</h3>
    <div class="list-group">
            {% for post in site.posts %}
            <a href="{{post.url}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{post.title}}</h5>
                    <small>{{post.date | date: '%d.%m.%Y' }}</small>
                </div>
                <p class="mb-1">{{post.excerpt}}</p>
            </a>
            {% endfor %}
    </div>
</div>