{% include header.html %}

<div class="page-header header-filter" data-parallax="true" style="background-image: url('{{page.background}}');height:75vh">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="title">{{page.title}}</h1>
                <h4>
                    Hier findest du einige Informationen zu meiner Person, sowie meinen Blog. Schau dich gerne um! :-)
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
        {{content}}
</div>

{% include footer.html %}